<!doctype html>
<html ng-app>
<head>
	<script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular.min.js"></script>
	<link rel="stylesheet" href="style.css">


	<title>Eclipse Phase:  {{name}}</title>
</head>

<body>

<input type="text" ng-model="name" id="name" class="manual" placeholder="Character Name">
<input type="text" ng-model="background" id="background" class="manual" placeholder="Background">

<table id="ego_basic">
	<tr>
		<td class="table_left">Faction:</td>
		<td class="table_right manual" id="faction">Faction</td>
	</tr>
	<tr>
		<td class="table_left">Gender:</td>
		<td class="table_right manual" id="gender">Gender</td>
	</tr>
	<tr>
		<td class="table_left">Age:</td>
		<td class="table_right manual" id="age">20</td>
	</tr>
	<tr>
		<td class="table_left">Motivation 1:</td>
		<td class="table_right manual" id="motivation1">Motivation 1</td>
	</tr>
	<tr>
		<td class="table_left">Motivation 2:</td>
		<td class="table_right manual" id="motivation2">Motivation 2</td>
	</tr>
	<tr>
		<td class="table_left">Motivation 3:</td>
		<td class="table_right manual" id="motivation3">Motivation 3</td>
	</tr>
</table>

<table id="ego_variable">
	<tr>
		<td class="table_left">Rez Points:</td>
		<td class="table_right manual" id="rezpoints">0</td>
	</tr>
	<tr>
		<td class="table_left">Max Moxie:</td>
		<td class="table_right manual" id="moxie_max">3</td>
	</tr>
	<tr>
		<td class="table_left">Current Moxie:</td>
		<td class="table_right manual" id="moxie">0</td>
	</tr>
</table>

<table id="ego_aptitudes">
	<tr>
		<td class="table_left"></td>
		<td class="aptitude" title="Cognition">COG</td>
		<td class="aptitude" title="Coordination">COO</td>
		<td class="aptitude" title="Intuition">INT</td>
		<td class="aptitude" title="Reflexes">REF</td>
		<td class="aptitude" title="Savvy">SAV</td>
		<td class="aptitude" title="Somatics">SOM</td>
		<td class="aptitude" title="Willpower">WIL</td>
	</tr>
	<tr>
		<td class="table_left">BASE</td>
		<td title="Ego Cognition" class="manual" id="base_cog">5</td>
		<td title="Ego Coordination" class="manual" id="base_coo">0</td>
		<td title="Ego Intuition" class="manual" id="base_int">0</td>
		<td title="Ego Reflexes" class="manual" id="base_ref">0</td>
		<td title="Ego Savvy" class="manual" id="base_sav">0</td>
		<td title="Ego Somatics" class="manual" id="base_som">0</td>
		<td title="Ego Willpower" class="manual" id="base_wil">0</td>
	</tr>
	<tr>
		<td>MORPH</td>
		<td title="Morph Cognition Bonus" class="automatic" id="morph_cog">5</td>
		<td title="Morph Coordination Bonus" class="automatic" id="morph_coo">0</td>
		<td title="Morph Intuition Bonus" class="automatic" id="morph_int">0</td>
		<td title="Morph Reflexes Bonus" class="automatic" id="morph_ref">0</td>
		<td title="Morph Savvy Bonus" class="automatic" id="morph_sav">0</td>
		<td title="Morph Somatics Bonus" class="automatic" id="morph_som">0</td>
		<td title="Morph Willpower Bonus" class="automatic" id="morph_wil">0</td>
	</tr>
	<tr>
		<td class="table_left">TOTAL</td>
		<td class="automatic" id="cog"></td>
		<td class="automatic" id="coo"></td>
		<td class="automatic" id="int"></td>
		<td class="automatic" id="ref"></td>
		<td class="automatic" id="sav"></td>
		<td class="automatic" id="som"></td>
		<td class="automatic" id="wil"></td>
	</tr>
<table>
		

</html>

<script>

$(document).ready(function() {

	$('#name').storage({storageKey:'name'});
	$('#background').storage({storageKey:'background'});
	$('#faction').storage({storageKey:'faction'});
	$('#gender').storage({storageKey:'gender'});
	$('#age').storage({storageKey:'age'});
	$('#motivation1').storage({storageKey:'motivation1'});
	$('#motivation2').storage({storageKey:'motivation2'});
	$('#motivation3').storage({storageKey:'motivation3'});

	$('#rezpoints').storage({storageKey:'rezpoints'});
	$('#moxie_max').storage({storageKey:'moxie_max'});
	$('#moxie').storage({storageKey:'moxie'});

	$('#base_cog').storage({storageKey:'base_cog',onExit:function() { update_results(); } });
	$('#base_coo').storage({storageKey:'base_coo' });
	$('#base_int').storage({storageKey:'base_int' });
	$('#base_ref').storage({storageKey:'base_ref' });
	$('#base_sav').storage({storageKey:'base_sav' });
	$('#base_som').storage({storageKey:'base_som' });
	$('#base_wil').storage({storageKey:'base_wil' });

	var base_cog = $('#base_cog').html();
	var base_coo = $('#base_coo').html();
	var base_int = $('#base_int').html();
	var base_ref = $('#base_ref').html();
	var base_sav = $('#base_sav').html();
	var base_som = $('#base_som').html();
	var base_wil = $('#base_wil').html();

	var morph_cog = $('#morph_cog').html();



	

	var cog = Number(base_cog) + Number(morph_cog);
	
	$('#cog').html(cog);
	
	console.log('base_cog: ' + base_cog);
	console.log('morph_cog: ' + morph_cog);
	console.log('COG: ' + cog);
});


function update_results() {
	$base_cog = $('#base_cog').html();
	$cog = Number(base_cog) + Number(morph_cog);
	$('#cog').html(cog);
	
	console.log('base_cog: ' + base_cog);
	console.log('morph_cog: ' + morph_cog);
	console.log('COG: ' + cog);
	
	};





</script>
